{% extends 'base.html.twig' %}

{% block body %}
  

    <div class="example-wrapper">
        <h1>Accueil</h1>
        <p><a href="{{ path('post_index') }}">Gérer les articles</a></p>
        <h2>Quelques articles</h2>
        <div class="row row-cols-4">
            {% for post in posts %}
            <div class="card" style="width: 25rem;">
                <img src="{{ post.imgsrc }}" class="card-img-top" alt="...">
                <div class="card-body bg-light">
                    <h3 class="card-title text-dark"><a href="{{ path('post_show', {'id': post.id}) }}">{{ post.title }}</a></h3>
                    <p class="card-text text-warning">{{ post.content }}</p>
                    <p class="card-text text-danger">{{ post.dateCreate ? post.dateCreate|date('Y-m-d') : '' }}</p>
                </div>
            </div><br>
            {% endfor %}
        </div>
    </div>
{% endblock %}
